.citys_page {
    .ant-table {
        .ant-table-content {
            th {
                font-size: 16px;
                &:last-child, &:first-child {
                    text-align: center;
                }
            }
            td {
                font-size: 15px;
                font-weight: 400;
                color: rgb(122, 122, 122);
                &:last-child, &:first-child {
                    text-align: center;
                    .anticon-edit {
                        font-size: 16px;
                        color: #0098a3;
                    }
                    .anticon-delete {
                        font-size: 16px;
                        color: #ec0511;
                    }
                }
            }
        }
    }
}